*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60%;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
    font-size: 6rem;
}

.sequence-area {
    display: flex;
    justify-content: space-around;
}

.number-area {
    display: flex;
    justify-content: space-around;
    margin-top: 55em;
}

.number {
    width: 12%;
    text-align: center;
    background-color: white;
    border-radius: .5em;
    font-size: 6rem;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.missing {
    transform: rotate(35deg);
}

.missing:nth-child(odd) {
    transform: rotate(-35deg);
}

.active {
    border: 3px solid red;
}

.wrong {
    background-color: red;
    transition: .8s ease-in-out;
    transform: rotate(720deg);
}

.correct {
    background-color: yellowgreen;
}

.number.missing.disapear {
    transition: .8s ease-in;
    background-color: black;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
}

.winner h2 {
    color: white;
    font-size: 5rem;
}

.winner a {
    font-size: 2rem;
    background-color: white;
    color: black;
    padding: 1.5em;
    border-radius: .8em;
    text-decoration: none;
}

.hide {
    display: none;
}